@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;1,500&display=swap');


body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.card {
    &__quote {
        font-size: 1.2rem;
        font-weight: bold;
    }


}