@import url(https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;1,500&display=swap);
html, body {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.card__quote {
  font-size: 1.2rem;
  font-weight: bold;
}

.page {
  height: inherit;
  margin: 0;
  background: #edf2f8;
  font-size: 13px;
  display: grid;
  place-items: center;
  outline: 1px solid red;
}
.page .main {
  display: grid;
  grid-gap: 20px;
  grid-template: 250px 250px/repeat(4, 250px);
}

.card {
  border-radius: 8px;
  overflow: hidden;
}
.card--white {
  background: white;
}
.card--steel {
  background: #48556a;
}
.card--dark {
  background: #19212e;
}
.card--purple {
  background: #7541c8;
}
.card--purple .card__quote {
  color: rgba(255, 255, 255, 0.75);
}
.card--purple .card__copy {
  color: rgba(255, 255, 255, 0.5);
}
.card--shadow {
  box-shadow: 0px 0px 12px black;
}
.card:first-child, .card:nth-child(5) {
  grid-column: span 2;
}
.card:nth-child(3) {
  grid-row: span 2;
}

.profile__avatar {
  border-radius: 50%;
}
